# Bases de dados originais e geradas (Muito pesadas para o GitHub)
Base Varejo.csv
base_varejo_sprint1.csv
base_varejo_sprint2.csv

# Arquivos temporários do Python e do sistema
__pycache__/
.DS_Store